/* src/FileUploader.css */
.main-div {
  position: relative;
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: center;
  background-color: #1e2223;
  border-radius: 15px;
  padding: 10% 10%;
  color: white;
}
.main-div-h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 60px;
}
.drop-zone {
  border: 2px dashed black;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-zone p {
  margin: 0;
  font-size: 16px;
}

.drop-zone.active {
  background-color: #101112;
}

button {
  margin-top: 10px;
  background-color: #2b2f31;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #151819;
}
.email-zone {
  margin-top: 30px;
  margin-bottom: 30px;
}
.email-input {
  height: 40px;
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: 600;
  background-color: #181a1b;
  color: white;
  outline: none;
}
.email-error {
  color: white;
  position: absolute;
  top: 52%; 
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); 
  font-size: 15px;
  font-weight: 600;
}
.spin-animation {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button[disabled] {
  background-color: rgb(112, 96, 96);
  color: gray; 
  cursor: not-allowed; 
}