<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azureblobtrigger20230917143305.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ffb39c26-b4f7-4817-964a-400985f1b01e/resourceGroups/Test-Task/providers/Microsoft.Web/sites/AzureBlobTrigger20230917143305</ResourceId>
    <UserName>$AzureBlobTrigger20230917143305</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azureblobtrigger20230917143305.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>