.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #181A1B;
}
.server-response{
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 90%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text within its own dimensions */
}